html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: #000;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

input {
    background-color: #FFF;
    color: #000;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

header, nav, section, article, aside, footer {
    display: block;
}

a {
    color: #333;
    outline: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p {
    text-indent: 20px;
    margin: 0 0 18px;
    font-size: 14px;
}

h1 {
    font-size: 16px;
    padding-bottom: 10px;
}

img {
    border: none;
    vertical-align: middle;
}
input {
    vertical-align: middle;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    max-height: 100%;
    background-color: #FFF;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 1px #FFF;
}

/* Styles */

#header {
    position: relative;
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
    min-width: 900px;
    height: 60px;
}

    #logo {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        height: 40px;
        padding-left: 45px;
        font-size: 30px;
        color: #444;
        background: transparent url("../images/logo_static.png") 0 3px no-repeat;
        text-decoration: none;
    }

    #register {
        position: absolute;
        top: 35px;
        right: 330px;
    }

    #logins {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 300px;
    }

        #logins label {
            display: inline-block;
            width: 60px;
            text-align: right;
        }

        #logins input {
            display: inline-block;
            width: 100px;
        }

        #logins input[type=submit] {
            width: 50px;
        }

#preview_block {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 500px;
    background: transparent url("../images/bg-mac.jpg") 50% 50% no-repeat;
    background-size: cover;
    box-shadow: 0 1px 3px #555 inset;
    overflow: hidden;
}

    #preview_block .preview_item {
        position: absolute;
        top: 30px;
        left: 50%;
        width: 900px;
        margin-left: -450px;
        cursor: pointer;
    }

#center_block {
    position: relative;
    margin: 0 auto;
    width: 95%;
    max-width: 900px;
    margin-top: 30px;
}

    .center_50_block {
        width: 50%;
        height: 130px;
        float: left;
        overflow: hidden;
    }

    .inside_block {
        height: 100px;
        margin: 20px;
        margin-bottom: 0;
        padding-left: 80px;
        background-repeat: no-repeat;
        background-position: 30px 0;
    }

        .inside_block h1 {
            font-size: 20px;
        }

        .inside_block div {
            line-height: 1.4em;
        }

#bigbody {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

#usererror {
    margin-top: 100px;
    color: #DB3B34;
    font-size: 16px;
}

#regform {
    margin-top: 100px;
    font-size: 16px;
}

    #regform label {
        display: inline-block;
        width: 60px;
        text-align: right;
    }

    #regform input {
        display: inline-block;
        width: 100px;
        font-size: 16px;
        margin: 5px 0;
    }

    #regform input[type=submit] {
        width: 150px;
        height: 30px;
        margin-top: 20px;
    }