html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: #000;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

input {
    background-color: #FFF;
    color: #000;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

header, nav, section, article, aside, footer {
    display: block;
}

a {
    color: #333;
    outline: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p {
    text-indent: 20px;
    margin: 0 0 18px;
    font-size: 14px;
}

h1 {
    font-size: 16px;
    padding-bottom: 10px;
}

img {
    border: none;
    vertical-align: middle;
}
input {
    vertical-align: middle;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    max-height: 100%;
    background-color: #FFF;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 1px #FFF;
    background-image: url('../images/body_pattern.png');
}

/* Styles */

#header {
    position: relative;
    margin: 0 auto;
    width: 900px;
    height: 60px;
}

    #logo {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        height: 40px;
        padding-left: 45px;
        font-size: 30px;
        color: #444;
        background: transparent url("../images/logo_static.png") 0 3px no-repeat;
        text-decoration: none;
    }

    #register {
        position: absolute;
        top: 35px;
        right: 300px;
    }

    #logins {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 250px;
    }

        #logins label {
            display: inline-block;
            width: 60px;
            text-align: right;
        }

        #logins input {
            border: solid 1px #CCC;
            border-radius: 3px;
            display: inline-block;
            width: 100px;
            font-size: 13px;
            padding: 2px;
            position: relative;
            top: -2px;
        }

        #logins input[type=submit] {
            width: 50px;
        }

#preview_block {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 500px;
    background: transparent url("../images/bg-mac.jpg") 50% 50% no-repeat;
    background-size: cover;
    box-shadow: 0 1px 3px #555 inset;
    overflow: hidden;
}

    #preview_block .preview_item {
        position: absolute;
        top: 30px;
        left: 50%;
        width: 900px;
        margin-left: -450px;
        cursor: pointer;
    }

#share_block {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    margin-top: 30px;
    text-align: center;
}

#center_block {
    position: relative;
    margin: 0 auto;
    width: 95%;
    max-width: 900px;
    margin-top: 30px;
    clear: both;
}

    .center_50_block {
        width: 50%;
        height: 130px;
        float: left;
    }

    .inside_block {
        height: 100px;
        margin: 20px;
        margin-bottom: 0;
        padding-left: 80px;
        padding-top: 15px;
        background-color: #FEFEFE;
        background-repeat: no-repeat;
        background-position: 30px 15px;
        box-shadow: 1px 1px 1px #CCC;
        border-radius: 5px;
    }

        .inside_block h1,
        .inside_block h2,
        .inside_block h3 {
            font-size: 18px;
            font-weight: bold;
        }

        .inside_block div {
            line-height: 1.4em;
            padding-right: 20px;
        }

        .inside_block div strong {
            font-weight: normal;
        }

#bigbody {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

#usererror {
    margin-top: 100px;
    color: #DB3B34;
    font-size: 16px;
}

#regform {
    margin-top: 100px;
    font-size: 16px;
}

    #regform label {
        display: inline-block;
        width: 60px;
        text-align: right;
    }

    #regform input {
        display: inline-block;
        width: 100px;
        font-size: 16px;
        margin: 5px 0;
    }

    #regform input[type=submit] {
        width: 150px;
        height: 30px;
        margin-top: 20px;
    }

#start_button {
    padding: 100px 0 100px;
    width: 100%;
    clear: both;
    text-align: center;
}

    #start_button a {
         display: inline-block;
         outline: none;
         cursor: pointer;
         text-align: center;
         text-decoration: none;
         font: 20px/100% Arial, Helvetica, sans-serif;
         padding: 1em 4em 1.05em;
         text-shadow: 0 1px 1px rgba(0,0,0,.3);
         -webkit-border-radius: 2em;
         -moz-border-radius: 2em;
         border-radius: 2em;
         -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
         box-shadow: 0 1px 2px rgba(0,0,0,.2);
     }

    #start_button a:hover {
        text-decoration: none;
    }

    #start_button a:active {
        position: relative;
        top: 1px;
    }

/* blue */
.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}