{% extends "/static_layout.html" %}

{% block title %}
Логин
{% endblock %}

{% block body %}
<form action="/login" method="post" id="regform">
    <span><label for="login">Логин:&nbsp;&nbsp;</label> <input type="text" id="login" name="login" /></span>
    <span><label for="password">Пассворд:&nbsp;&nbsp;</label> <input type="password" id="password" name="password" /></span>
    <span><input type="submit" value="Войти" /></span>
    <span><a href="/register/">Зарегистрируемся?</a></span>
    <span><a href="/faq/">FAQ</a></span>
</form>
{% endblock %}