{% extends "/static_layout.html" %}

{% block title %}
Рега
{% endblock %}

{% block body %}
<script type="text/javascript">
    VK.UI.button('login_vk');
    function reg() {
        VK.Auth.login(function () {
                $("#vk_search_login").hide();
                player.controls.is_logged_in = true;
                $.ajax({
                    url: "/register_vk",
                    type: "POST",
                    data: ({ id: player.vk_id }),
                    dataType: "json"
                });
            },
            VK.access.FRIENDS | VK.access.AUDIO
        );
    }
</script>
<form action="/register" method="post" id="regform">
    <span><label for="login">Логин:&nbsp;&nbsp;</label> <input type="text" id="login" name="login" /></span>
    <span><label for="password">Пассворд:&nbsp;&nbsp;</label> <input type="text" id="password" name="password" /></span>
    <span><input type="submit" value="Регистрация" /></span>
</form>
{% endblock %}