<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>{% block title %}{% endblock %} - Playaaa&copy;&reg; Beta</title>
    <meta name="title" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="favicon.png" />

    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/style_static.css" />

    <script type="text/javascript" src="http://vkontakte.ru/js/api/openapi.js" charset="windows-1251"></script>
    <!--[if IE]>
        <script>
            // Сосите мужской хуй, мудачки вендузятские. Я заставлю ваше говно любить мой HTML 5.
            document.createElement('header');
            document.createElement('nav');
            document.createElement('section');
            document.createElement('article');
            document.createElement('aside');
            document.createElement('footer');
        </script>
    <![endif]-->
  </head>
  <body>

    <div id="center_block-big">
        <div id="block_inside">
            <div style="width: 95%; padding: 10px;">
            <h2>Что это такое?</h2>
            <p>Самые сообразительные из вас уже могли догадаться, что это - плеер. Плееры были придуманы, чтобы играть музыку.
            Но с появлением капиталистических интернетов и развитием технологий коллективного разума научились делать с ней много похотливых вещей.
            Например рекомендовать. А вообще все стандартно - плейлисты, альбомы исполнителей с last.fm, фильтрация поиска, и.т.д.</p>

            <h2>Вконтакте - говно, флеш - говно, вы - говно, я - Филипп Киркоров</h2>
            <p>Я сам не люблю всех троих. Но вконтакте нужен был как большая свалка музыки, с которой можно что-то делать, флеш
            нужен был, потому что на момент написания этих строк HTML5 тег audio хоть и стильный и модный, однако очень малофункциональный.
            Но не беспокойтесь, где нужно, он работает. Например на iOS.</p>

            <h2>И как это слушать?</h2>
            <p>Из-за особенностей одной жадной социальной сети, мы вынуждены перед тем, как пустить вас слушать любимых Ранеточек,
            подсунуть вам анально-рабскую ссылку на залогинивание во вконтактике, по которой вам придется подтвердить, что со всем
            согласны и добавить наше якобы "приложение" в список доверенных. Оно, естественно, тырит пароли, рассылает спам,
            добавляет вас в группы любителей гей-порно, и.т.д. А вы как думали? Потом можно точно так же настроить скробблинг на last.fm.</p>

            <h2>А регистрация тогда зачем?</h2>
            <p>Я противник обязательной регистрации, но тут пришлось поступиться с принципами. Так уж повелось. Нужна стабильность
            в хранении пользовательской информации и доступ к ней с любой машины. Ну а так же в планах было подключение сторонних сервисов, так
            что не хотелось делать жесткую привязку к этой социальной сети.</p>

            <h2>Выдача очень грязная, наполнена повторяющимися треками, всякими сердечками и другой хуитой</h2>
            <p>Вконтакте, к сожалению, преисполнен хреновыми названиями треков, это понятно всем. Я старался вырезать уж совсем
            хомячковые символы из богатого набора utf-8 и различные url'ы, однако это получается далеко не всегда. Остается лишь
            вручную чистить выдачу и сохранять в свои плейлисты.</p>

            <h2>Вижу глюк. Чоделать?</h2>
            <p>Наверняка мы уже знаем. Но можно удостовериться в этом, прислав вежливое письмо <a href="mailto:me@vas3k.ru">в нашу редакцию</a>.
            На конверте не забудьте написать волшебное слово "багрепорт". Так же можно писать в твиттер юзеру: <a href="http://twitter.com/player_vas3k_ru">@player_vas3k_ru</a>.
            Еще у нас есть трекер на гитхабе где-то здесь: <a href="https://github.com/vas3k/player.vas3k.ru/issues#list">github.com/vas3k/player.vas3k.ru/issues#list</a></p>

            <h2>Есть предложение по функционалу?</h2>
            Писать можно по тем же адресам, что и в предыдущем пункте. Самые чистоплотные могут помечать словом "фичереквест".

            <h2>Меня зовут %designername% и у вас хуевый дизайн</h2>
            <p>Здравствуйте, во-первых, ваша визитка - тоже говно. Во-вторых, к сожалению в детстве мне на руки наступил медведь и с тех пор я лишен
            чувства создавать прекрасное. А те, кто не лишены (по крайней мере так считают), берут за это бешеные бабки. А я нищеброд.
            Так что если кто-то захочет помочь, можете связаться со мной <a href="mailto:me@vas3k.ru">по телефону доверия</a>.</p>

            <h2>А лицензия какая?</h2>
            <p>На приложение у нас LGPL, все исходники в свободном доступе на нашем гитхабе по адресу <a href="https://github.com/vas3k/player.vas3k.ru/issues#list">github.com/vas3k/player.vas3k.ru/issues#list</a>,
            любой желающий может скачать и делать с ними все, что захочется. Ну а полный текст лицензии можно найти на <a href="http://www.gnu.org/copyleft/lesser.html">сайте GNU</a>, либо
            прочитать <a href="http://ru.wikisource.org/wiki/GNU_Lesser_General_Public_License">перевод</a>. Почему не чистый GPL? Потому что в проекте возможно использование сторонних библиотек, не под
            этой лицензией (например SoundManager под BSD), а GPL запрещает линковку такого кода. Больше ни для чего. Для музыки лицензия такая, под которой ее выкладывают вконтакте. То есть обычно честно спижженая.
            Использовать или не использовать - каждый решает для себя сам.</p>
            </div>
        </div>
    </div>

    <!-- Yandex.Metrika -->
    <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
    <div style="display:none;"><script type="text/javascript">
    try { var yaCounter1689589 = new Ya.Metrika(1689589);
    yaCounter1689589.clickmap();
    yaCounter1689589.trackLinks({external: true});
    } catch(e){}
    </script></div>
    <noscript><div style="position:absolute"><img src="//mc.yandex.ru/watch/1689589" alt="" /></div></noscript>
    <!-- /Yandex.Metrika -->
  </body>
</html>