<li id="{{owner_id}}_{{aid}}" class="track" data-artist="{{artist}}" data-title="{{title}}" data-url="{{url}}">
    <input type="checkbox">

    <img src="/images/icons/play.png" alt=">" class="playbutton">

    <b>
        <span class="playlist_artist" onclick="">{{artist}}</span>
    </b>

    <span class="playlist_title" onclick="">{{title}}</span>

    <span class="time">{{duration}}</span>

    <img src="/images/icons/delete.png" alt="X" title="Удалить трек" class="deletebutton">
    <img src="/images/icons/arrow_down.png" alt="X" title="Скачать mp3 (это не пермалинк, он меняется!)" class="downloadbutton" />
    <img src="/images/icons/love.png" alt="X" title="Добавить в любимые" class="lovebutton">
    <img src="/images/icons/link.png" alt="X" title="Открыть в отдельном окне" class="linkbutton">
    <img src="/images/icons/repeat.png" alt="X" title="Повтор трека" class="repeatbutton">
</li>