{% extends "static_layout.html" %}

{% block title %}Карта сайта — {% endblock %}

{% block body %}
    <div id="bigbody">
        <ul>
        <li><a href="http://player.vas3k.ru/">Главная страница</a></li>
        <li><a href="http://player.vas3k.ru/register/">Страница регистрации</a></li>
        {% for artist in artists %}
            <li><a href="/listen/{{ artist.slug }}">Страница исполнителя &laquo;{{ artist.title }}&raquo;</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}         