#button_next, #button_prev {
    float: left;
    padding: 20px 5px;
}

    button {
        width: 30px;
        height: 30px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        font-size: 1em;
        padding: 0;
    }

    .ui-button {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        -moz-border-radius: 20px;
    }

    #button_next .ui-button, #button_prev .ui-button {
	    width: 30px;
    }

    x:-moz-any-link:nth-child(0), .ui-icon {
        top: 5px !important;
    }

#button_play {
    float: left;
    padding-top: 15px;
}

    #button_play button {
        width: 40px;
        height: 40px;
        font-size: 1em;
    }

#volume_buttons {
    float: left;
    margin-left: 30px;
}

    #volume_buttons #repeat_status {
        color: #999;
        padding-left: 5px;
    }

    #button_shuffle, #button_repeat {
        float: left;
    }

    #button_shuffle button, #button_repeat button {
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0;
        font-size: 1em;
    }

    #button_shuffle button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
    }

    #button_repeat button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-bottomleft: 0;
    }

#pq {
    padding-right: 20px;
}

#progress {
    width: 500px;
    float: left;
    padding: 20px 5px;
    margin-top: -5px;
    position: relative;
    color: #4E5045;
}

    #progressbar {
        width: 99%;
        height: 42px;
        background: url("../images/itunes/bg_progress.png") center center;
    }

    .ui-progressbar-value {
        background-color: #696B61;
    }

    .progressbar-ani {
        background-image: url("../images/pbar-ani.gif"); 
    }

    #trackposition {
        position: absolute;
        top: 32px;
        left: 10px;
    }

    #tracktitle {
        position: absolute;
        top: 22px;
        line-height: 1.1em;
        left: 50px;
        white-space: nowrap;
        overflow: hidden;
    }

    #trackduration {
        position: absolute;
        top: 32px;
        right: 20px;
    }

    #trackslider {
        position: absolute;
        top: 50px;
        left: 43px;
        width: 90%;
    }

    #trackslider .ui-slider-handle {
        width: 9px;
        height: 9px;
    }

    #smallinfo {
        font-size: 10px;
        position: absolute;
        top: 45px;
        right: 40px;
    }

#volume {
    float: left;
    padding: 0 10px;
    padding-top: 20px;
}

    #vol_slider {
        clear: both;
        width: 100px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        border: solid 1px #9A9A9A;
    }

    #vol_slider .ui-widget {
        font-size: 1.0em;
    }

    #vol_slider .ui-slider-handle {
        border-radius: 10px;
        -moz-border-radius: 10px;         
    }

#search {
    position: relative;
    margin-right: 10px;
    margin-top: 22px;
    float: right;
}

    #search input {
        position: absolute;
        top: 0;
        right: 0;
        width: 173px;
        height: 20px;
        padding: 2px;
        margin-right: 23px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
    }

    #qok {
        position: absolute;
        right: -1px;
        top: 0;
        width: 24px;
        height: 25px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-bottomleft: 0;
        font-size: 1em;
    }

    x:-moz-any-link:nth-child(0), #qok .ui-icon {
        top: 10px !important;
    }



#popup_error {
    display: none;
    position: absolute;
    top: 0;
    width: 50%;
    margin-left: 25%;
    padding: 20px;
    background-color: #4687CB;
    cursor: pointer;
    z-index: 99999;
    text-align: center;
    font-size: 14px;
}