.playing {
    background-color: #CBCBCB !important;
}

.activebutton {
    opacity: 1 !important;
}

#playlist, #ajaxContent {
    overflow-y: auto;
    overflow-x: hidden;
}

#ajaxContentFrame {
    margin: 40px;
    padding: 30px;
    border: solid 1px #CCC;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #BBB;
    overflow: auto;
}

    #ajaxContentFrame h1 {
        font-size: 24px;
        font-weight: bold;
    }

    #ajaxContentFrame h2 {
        font-size: 16px;
        margin: 10px 0;
    }

    #ajaxContentFrame p {
        color: #999;
    }

    .form_column {
        width: 40%;
        float: left;
        margin-right: 5%;
    }

        .form_column label {
            display: block;
            float: left;
            width: 150px;
            margin-top: 10px;
        }

        .form_column input {
            display: block;
            float: left;
            width: 250px;
        }

#sortable {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sortable li {
    background-color: #FFFFFF;
    padding: 4px 0;
}

#sortable li:nth-child(odd) {
    background-color: #F3F6FA;
}

    .track {
        min-width: 400px;
        opacity: 0.8;
    }

    .track:hover {
        opacity: 1;
    }

    .track input {
        vertical-align: middle;
    }

    .track .playbutton {
        cursor: pointer;
    }

    .track .time {
        float: right;
        font-size: 11px;
        padding-top: 3px;
        padding-right: 10px;
    }

    .track .deletebutton,
    .track .lovebutton,
    .track .linkbutton,
    .track .lyricsbutton,
    .track .downloadbutton {
        float: right;
        cursor: pointer;
        margin-right: 10px;
        margin-top: 3px;
        opacity: 0.6;
    }

    .track .downloadbutton,
    .track .linkbutton {
        display: none;
    }

    .track:hover .downloadbutton,
    .track:hover .linkbutton {
        display: inline;
    }

    .track .deletebutton:hover,
    .track .lovebutton:hover,
    .track .linkbutton:hover,
    .track .lyricsbutton:hover,
    .track .downloadbutton:hover {
        opacity: 1;
    }

.selected {
    background-color: #BEFFC7;
}

.playing {
    background-color: #CBCBCB;
}

#playlist_controls {
    background-color: #D9DEE5;
    border-bottom: solid 1px #BBBBBB;
    overflow: hidden;
}

    #playlist_controls input {
        float: left;
        display: block;
        margin-top: 10px;
    }

    #playlist_controls div {
        float: left;
        margin: 3px 0;
        margin-right: -1px;
    }

    #playlist_controls button {
        width: 150px;
        height: 25px;
        font-size: 10px;
        border-radius: 0;
        float: left;
    }

#playlist_albums {
    background-color: #D9DEE5;
    border-bottom: solid 1px #BBBBBB;
    overflow: hidden;
    display: none;
}

    #playlist_albums .caption {
        width: 180px !important;
        margin: 0 auto;
        padding: 4px !important;
        background-color: rgba(0, 0, 0, 0.5);
        color: #FFF;
        border-radius: 10px;
    }

#show_more {
    display: none;
    text-align: center;
    width: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

#show_more:hover {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
}

#big_loader {
    width: 100%;
    height: 100%;
    background-color: #CCC;
    z-index: 50;
}

    #big_loader img {
        position: absolute;
        top: 45%;
        left: 47%;
    }


.playlist_trackname {
    display: inline-block;
    white-space: nowrap;
    max-width: 75% !important;
    overflow: hidden;
}

.playlist_artist,
.playlist_title {
    cursor: pointer;
}