html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
    color: #000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

input {
    background-color: #FFF;
    color: #000;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

header, nav, section, article, aside, footer {
	display: block;
}

a {
	color: #333;
	outline: none;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

p {
    text-indent: 20px;
	margin: 0 0 18px;
    font-size: 14px;
}

h1 {
    font-size: 16px;
    padding-bottom: 10px;
}

img {
	border: none;
    vertical-align: middle;
}
input {
	vertical-align: middle;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    background-color: #FFF;
    font-family: Lucida Grande, Verdana, sans-serif;
    font-size: 12px;
    
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#leftSidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px; /*Width of left frame div*/
    height: 100%;
    /*margin-top: 70px;*/
    color: #FFFFFF;
    background-color: #DADFE5;
    z-index: 10;
    border-right-color: #BBBBBB;
}

#rightSidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px; /*Width of left frame div*/
    height: 100%;
    /*margin-top: 70px;*/
    color: #FFFFFF;
    background-color: #DADFE5;
    z-index: 10;
    border-left-color: #BBBBBB;
}

    #leftSidebar .innertube, #rightSidebar .innertube {
        padding: 0;
        height: 85%;
        margin-top: 75px !important;
        overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
        overflow-y: auto;
    }

#header {
    position: absolute;
    top: 0;
    left: 0; /*Set left value to WidthOfLeftFrameDiv*/
    right: 0;
    height: 70px; /*Height of top frame div*/
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
    color: white;
    background-color: #AAADB0;
    background-image: url("../images/itunes/bg_controls.png");
    z-index: 20;
    min-width: 900px;
    box-shadow: 1px 1px 3px #555;
    -webkit-box-shadow: 1px 1px 3px #555;
}

#footer {
    position: absolute;
    top: auto;
    left: 0; /*Set left value to WidthOfLeftFrameDiv*/
    bottom: 0;
    right: 0;
    height: 20px; /*Height of bottom frame div*/
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
    color: white;
    background-color: #AAADB0;
    background-image: url("../images/itunes/bg_footer.png");
    z-index: 20;
    min-width: 900px;
    border-top-color: #727579;
}

    #footer_links {
        float: left;
        width: 40%;
    }

    #buttons {
        float: right;
    }

#container {
    position: fixed;
    top: 70px; /*Set top value to HeightOfTopFrameDiv*/
    left: 200px; /*Set left value to WidthOfLeftFrameDiv*/
    right: 200px;
    bottom: 20px; /*Set bottom value to HeightOfBottomFrameDiv*/
    overflow: auto;
    background: #FFFFFF;
    min-width: 624px;
}

.innertube {
    margin: 15px; /*Margins for inner DIV inside each DIV (to provide padding)*/
    margin-right: 0;
}

* html body {
/*IE6 hack*/
    padding: 110px 0 120px 200px; /*Set value to (HeightOfTopFrameDiv  0 HeightOfBottomFrameDiv WidthOfLeftFrameDiv)*/
}

* html #container {
/*IE6 hack*/
    height: 100%;
    width: 100%;
}

* html #header, * html #footer {
/*IE6 hack*/
    width: 100%;
}

#small_error {
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 210px;
    width: 120px;
    color: #000;
    background-color: #DB3B34;
    padding: 20px;
    z-index: 999;
    display: none;
}

#small_ok {
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 210px;
    width: 120px;
    background-color: #4687CB;
    color: #000;
    padding: 20px;
    z-index: 999;
    display: none;
}

#dialog-unsupported {
    display: none;
    padding: 5px;
    width: 450px;
    height: 250px;
    font-size: 11px;
}

    #dialog-unsupported ul {
        list-style: square inside;
        padding-left: 10px;
    }

#dialog-lyrics {
    display: none;
    font-size: 13px;
    width: 500px;
    max-height: 600px;
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -250px;
    background-color: #EEE;
    border-radius: 5px;
    padding: 30px;
    z-index: 99999;
    box-shadow: 3px 3px 15px #555;
}

    #dialog-lyrics > div {
        width: 100%;
        max-height: 600px;
        overflow-y: auto;
        white-space: pre-wrap;
        line-height: 1.5em;
        -moz-user-select: all;
        -o-user-select: auto;
        -khtml-user-select: text;
        -webkit-user-select: text;
        user-select: auto;
    }

    #dialog-lyrics img {
        position: absolute;
        right: 3px;
        top: 3px;
        cursor: pointer;
    }

#ajaxContentFrame {
    display: none;
}

#big_loader {
    display: none;
}

#sm2-container {
    visibility: hidden;
}