html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

input {
    background-color: #FFF;
    color: #000;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
}
a {
	color: #333;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
    text-indent: 20px;
	margin: 0 0 18px;
    font-size: 14px;
}

h1 {
    font-size: 16px;
    padding-bottom: 10px;
}

img {
	border: none;
    vertical-align: middle;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 100%;
	min-width: 600px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 73px;
	background-image: url("../images/itunes/bg_controls.png");
}

#search input {
    border: solid 1px #9A9A9A;
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 3px 5px;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
    margin-top: -6px;
}

#playlist {
	margin: 0 222px 0 200px;
}

#regform {
    position: absolute;
    top: 40%;
    left: 35%;
    display: block;
    width: 320px;
    padding: 40px;
    font-size: 14px;
    font-family: Verdana, Arial;
    line-height: 1.8em;
    border: solid 1px #999;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #999;
}

#regform input {
    padding: 1px;
    width: 200px;
    float: left;
}

#regform input[type=submit] {
    padding: 1px;
    width: 200px;
    float: left;
    width: 310px;
    height: 30px;
}

#regform label {
    display: block;
    width: 100px;
    text-align: right;
    float: left;
}


/* Sidebars
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 200px;
	margin-left: -100%;
    margin-top: -7px;
	position: relative;
	background: #D9DEE5;
    border-right: solid 1px #BBBBBB;
    overflow: auto;
}

    #sideLeft img {
        vertical-align: middle;
    }

    #sideLeft small {
        float: right;
        cursor: pointer;
        font-size: 10px;
        opacity: 0.5;
    }

    #sideLeft .dir small {
        float: none;
    }

    #sideLeft small:hover {
        opacity: 1.0;
    }

#sideRight {
	float: right;
	width: 200px;
	margin-left: -100%;
    margin-top: -7px;
	position: relative;
	background: #D9DEE5;
    border-right: solid 1px #BBBBBB;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

#sideRightClose {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
	background-image: url("../images/icons/cross.png");
    cursor: pointer;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: -24px auto 0;
	min-width: 600px;
	height: 24px;
	background-image: url("../images/itunes/bg_footer.png");
}

    #footer_links {
        float: left;
        width: 30%;
    }

    #buttons {
        float: right;
        text-align: right;
        width: 20%;
    }

    #buttons img {
        height: 22px;
    }



#sm2-container {
    position: absolute;
    top: -20px;
}

