
<div class="search">
    <h1>Поиск музыки</h1>
    <input type="text" name="query" class="search-query" id="user-search" />
    <button class="search-button">Поиск</button>

    <div class="clearfix"></div>

    <div class="search-params">
    </div>

    <div class="search-links"></div>
</div>

<div id="user-recommended">
    <h1>Рекомендации</h1>

    <div id="recommendations">
        <div class="list_loader"></div>
    </div>
</div>

<div id="user-lists">
    <div class="user-list">
        <h1>История поисков</h1>
        <div class="user-list-list">
            <ol id="search_history">
                <div class="list_loader"></div>
            </ol>
        </div>
    </div>


    <div class="user-list">
        <h1>Сохраненные поиски</h1>
        <div class="user-list-list">
            <ol id="search_saved">
                <div class="list_loader"></div>
            </ol>
        </div>
    </div>


</div>