{% extends "/static_layout.html" %}

{% block title %}FAQ{% endblock %}

{% block body %}
<div style="width: 95%; padding: 10px;">
<h1>Что это за нахуй такой?</h1>
<p>Официально - веб-плеер музыки из вконтактика с интерфейсом iTunes, плейлистами, last.fm и блекджеком.
Неофициально - результат опытов, эдакая лабораторная крыса, которая выжила и выбралась из клетки.</p>

<h1>Зачем оно нужно?</h1>
<p>Вам - не знаю. Мне - во-первых, простоплеер катится в сраное говно, остальные плееры не устраивают.
Вот написал для себя и слушаю его. А еще девушке моей очень нравится. А все остальные - просто боты,
которых кто-то создал, чтобы мне жилось сложнее. Ведь кроме меня никого нет, ахахах. Где моя шапочка из фольги?</p>

<h1>И как это слушать?</h1>
<p>Из-за особенностей одной жадной социальной сети, вы вынуждены перед тем, как пустить вас слушать любимых Ранеточек,
подсунуть вам анально-рабскую ссылку на залогинивание во вконтактике, по которой вам придется подтвердить, что со всем
согласны и добавить наше якобы "приложение" в список доверенных. Оно, естественно, тырит пароли, рассылает спам,
добавляет вас в группы любителей гей-порно, и.т.д. А вы как думали? Потом можно точно так же настроить скробблинг на last.fm
и начать слушать музяку.</p>

<h1>А регистрация тогда зачем?</h1>
<p>Действительно, слушать можно и так, просто авторизовавшись вконтактике, но без регистрации у нас функционал плеера
примерно такой же, как во вконтакте. А если хотим плейлисты, любимые треки, сохранять поиски, чтобы не вводить заново 
и другие радости жизни - придется регистрироваться. Я противник обязательной регистрации, но по-другому тут никак.</p>

<h1>Выдача очень хуевая, наполнена повторяющимися треками, всякими сердечками и другой хуитой</h1>
<p>Значит вам не повезло с музыкальным вкусом, ведь эту музыку загрузил типичный представитель хомячков,
обожающий ♥♥♥♥вОт ТаК пЕсАть♥♥♥♥♥. Мы всячески боремся с мусором, но наших усилий недостаточно. Остается лишь
жать кнопочку delete, либо создавать свои плейлисты. И молиться, молиться, молиться. Что делать с дублями
мы тоже еще не решили.</p>

<h1>Купил крутой mp3-плеер у Ашота за 2 тысячи рублей, как мне закачать на него музяку?</h1>
<p>Для этого есть торренты. Хотя мне ничего не стоило добавить кнопочку download, но у нас есть
<a href="http://vkontakte.ru/developers.php?p=policy">пункт 12 лицензионного соглашения вконтактика</a>, который
заставляет нас этого не делать. А мы ведь соблюдаем лицензионное соглашение, в отличии от остальных плееров (не буду
показывать пальцем, ога). А еще у них ограничение на 3 запроса в секунду.</p>

<h1>Вижу глюк. Чоделать?</h1>
<p>Наверняка мы уже знаем. Но можно удостовериться в этом, прислав вежливое письмо <a href="mailto:me@vas3k.ru">в нашу редакцию</a>.
На конверте не забудьте написать волшебное слово "багрепорт". Багрепорты, присланные в IM-службы багрепортами не считаются и
исправляются методом наложения хуя.</p>

<h1>У меня вылезает окошко с надписью "это пиздец". Что делать?</h1>
<p>Значит у вас упал или не включен флеш.</p>

<h1>Вот эта фишечка в моем плеере работает по-другому</h1>
<p>Ок. А у меня вот так. Либо я так решил, либо это не нужно.</p>

<h1>Меня зовут %designername% и у вас хуевый дизайн</h1>
<p>Во-первых, ваша визитка тоже говно. Во-вторых, к сожалению в детстве мне на руки наступил медведь и с тех пор я лишен
чувства создавать прекрасное. А те, кто не лишены (по крайней мере так считают), берут за это бешеные бабки. А я нищеброд.
Так что если кто-то захочет помочь, можете связаться со мной <a href="mailto:me@vas3k.ru">по телефону доверия</a>.</p>

<h1>Я гик и прыщезадрот, мне интересно как это работает?</h1>
<p>Интерфейс написан на JavaScript, музыка воспроизводится с помощью открытой (BSD-License) библиотеки <a href="http://www.schillmania.com/projects/soundmanager2/doc/">SoundManager2</a>,
анаологов которой никто просто не осилил написать, поэтому это самая ахуенная библиотека для этих целей.
По-умолчанию музяка качает через ненавистный Flash, но исключительно потому что HTML 5 audio еще уныл так же, как творчество Филлипа Киркорова.
Но для девайсов без поддержки flash, мы умеем играть через HTML 5, так что не отчаивайтесь.
Так же у нас есть jQuery UI для интерфейса. Бэкенд у нас на Python, БД на MongoDB. Ну для начала у нас есть <a href="http://vkontakte.ru/developers.php?o=-1&p=Open+API">вконтакте OpenAPI</a>, который
дает полный доступ к его внутреннему <a href="http://vkontakte.ru/developers.php?o=-1&p=%D0%9E%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5+%D0%BC%D0%B5%D1%82%D0%BE%D0%B4%D0%BE%D0%B2+API">audio-API</a>,
который и дает нам неограниченные возможности по прослушиванию хуевой музыки в хуевом качестве. А еще можно эту хуевую
музыку скробблить на last.fm ибо у них тоже <a href="http://www.lastfm.ru/api/submissions">есть API</a>.</p>
</div>
{% endblock %}