<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Авторизация успешна</title>
    <style>
    div {
        font-family: Verdana, Arial;
        margin: 0 auto;
        text-align: center;
        width: 400px;
        margin-bottom: 30px;
    }
    </style>
</head>
<body>
<div style="font-size: 14px; width: 500px; margin-top: 30%;">Авторизация на last.fm успешна. Закрой это окошко и со следующего трека вся музыка будет скробблиться туда.</div>
<div style="font-size: 12px; color: #999;">Если это не так, попробуй еще раз авторизоваться или перезагрузить плеер. А еще некоторые другие клиенты ломают авторизацию, 
так что после их использования приходится жать сюда еще раз.</div>

</body>
</html>