{% extends "static_layout.html" %}

{% block title %}
Логин
{% endblock %}

{% block body %}
<form action="/login/" method="post" id="regform">
    <span><label for="login">Логин:&nbsp;&nbsp;</label> <input type="text" id="login" name="login" /></span>
    <span><label for="password">Пассворд:&nbsp;&nbsp;</label> <input type="password" id="password" name="password" /></span>
    <span><input type="submit" value="Войти" /></span>
    <span><a href="/register/">Зарегистрируемся?</a></span>
    <span><a href="/faq/">FAQ</a></span>
</form>
{% endblock %}


{% block additional_block %}
    <div style="position: absolute; top: 40%; left: 50%; margin-left: -500px; width: 300px; text-align: right; background-color: rgba(255, 255, 255, 0); z-index: 20; padding: 20px;">
        <b>Мы обновились</b><br/><br/>И сменили СУБД.<br/> Поэтому вам придется <a href="/register/">зарегистрироваться</a> заново с любым ником и
        затем пройти по <a href="http://p.vas3k.ru/migrate/">этой ссылке</a> чтобы импортировать свои старые данные, залогинившись под старым юзером и паролем. После этого можно о них забыть.</div>
{% endblock %}
