{% extends "static_layout.html" %}

{% block title %}
Регистрация —
{% endblock %}

{% block body %}
    <div id="bigbody">
        <form action="/register/" method="post" id="regform">
            <span><label for="login">Логин:&nbsp;&nbsp;</label> <input type="text" id="login" name="login" /></span><br />
            <span><label for="password">Пароль:&nbsp;&nbsp;</label> <input type="text" id="password" name="password" /></span><br />
            <span><input type="submit" value="Регистрация" /></span>
        </form>
    </div>
{% endblock %}


{% block additional_block %}
{% endblock %}