<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>Playaaa</title>
    <meta name="title" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="./css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./css/controls.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./css/playlist.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" media="screen, projection" href="./css/style_ie.css" /><![endif]-->
</head>

<body>
<!--<div id="vk_api_transport"></div>
<script type="text/javascript" src="http://vkontakte.ru/js/api/openapi.js" charset="windows-1251"></script>
<script type="text/javascript" src="./js/vkontakte.js"></script>  -->

<div id="wrapper">

    <header id="header">
        <div id="button_prev">prev</div>
        <div id="button_play">play</div>
        <div id="button_next">next</div>
        <div id="volume">volume</div>
        <div id="progress">progress</div>
        <div id="search">search</div>
    </header><!-- #header-->

    <section id="middle">

        <div id="container">
            <div id="content">

            </div><!-- #content-->
        </div><!-- #container-->

        <section id="sideLeft">
        </section><!-- #sideLeft -->

    </section><!-- #middle-->

</div><!-- #wrapper -->

<footer id="footer">
    
</footer><!-- #footer -->

</body>
</html>